<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>GAPMETRIC</title>
    <meta name="description" content="{% block meta_description %}KoBoToolbox is a free and open source suite of tools for field data collection for use in challenging environments.{% endblock %}">
    <meta name="author" content="">
    {% if GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
    {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% block styles %}

    <link rel="icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />
    <!-- iPhone + iPad icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}images/apple-touch-icon.png">

    <link href="{{STATIC_URL}}css/phaseout/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/screen.css?v=2809679b01" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ona-screen-overrides.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="{{STATIC_URL}}css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
	  <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="{{STATIC_URL}}css/kobo-branding.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/published_forms.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/data_pages.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/vex.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/vex-theme-kobo.css" rel="stylesheet">

    <link href="{{STATIC_URL}}css/footable.css" rel="stylesheet">
    {% endblock %}
    <!-- spot to insert stuff for google maps -->
    {% block additional-headers %}{% endblock %}
  </head>

  {% block body %}
  {% if not user.is_authenticated %}

  <body>
    <header class="header-bar">
      <div class="container__wide">
        <span class="header-bar__top-logo pull-right"></span>
        <a href="http://gapmetric.com/" class="header-bar__support pull-right" target="_blank" title="Visit our self-help pages or ask a support question (opens in new tab)">Support</a>
      </div>
    </header>

  {% else %}

    <body class='authenticated'>
		{% include "topbar.html"%}

  {% endif %}

    <div class="container-fluid container__wide main {{ request.resolver_match.url_name }}">
      {% block message %}
        {% if message or messages or message_list %}
          {% include "message.html" %}
        {% endif %}
      {% endblock %}
      {% block content %}
        {% if template %}{% include template %}{% endif %}
        {{ content|safe }}
      {% endblock %}
    </div>

    {% include "footer.html" %}

    {% block below-content %}{% endblock %}

    {% block javascript %}

    <!-- Le javascript -->
  <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-migrate.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover-btns.js"></script>
    <script src="{{STATIC_URL}}js/application.js?v=201307251039"></script>
    <script src="{{STATIC_URL}}js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-kobo';</script>
    <script src="{{STATIC_URL}}js/footable.min.js"></script>
    <!--  -->
    <script src="{{STATIC_URL}}js/kobo-branding.js"></script>

    {% endblock %}

    {% block additional-javascript %}{% endblock %}

    {% block google-analytics %}
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
    ga('send', 'pageview');

    </script>
    {% endif %}
    {% endblock %}

  </body>
  {% endblock %}
</html>
