{% load i18n %}

<header class="header-bar">
  <div class="container__wide">
    <span class="header-bar__top-logo pull-right"></span>
    <a href="http://gapmetric.com/" class="header-bar__support pull-right" target="_blank" title="Visit our self-help pages or ask a support question (opens in new tab)">Support</a>
    {% if user.is_authenticated %}
      <span class="header-bar__top-level-menu-button">
        <i class="fa fa-bars fa-lg fa-inverse"></i>
      </span>
    {% endif %}
    <h1 class="header-bar__title"><a href="/"><span class="header-bar__title-text">{% trans "Projects" %}</span></a></h1>
  </div>
</header>

{% if user.is_authenticated %}
<section class="top-level-menu">
  <ul>
    <li class="top-level-menu__item">
      <a href="{{ koboform_url }}">
        <i class="header-bar__page-icon fa fa-fw fa-file-text-o"></i>
        {% trans "Forms" %}
      </a>
    </li>
    <li class="top-level-menu__item">
      <a href="{{ koboform_url }}#/library">
        <i class="header-bar__page-icon  fa  fa-fw  fa-folder"></i>
        {% trans "Question Library" %}
      </a>
    </li>

    {% url "user_profile" user.username as is_username %}
    <li class="top-level-menu__item {% if request.path == is_username %} is-active {% endif %}">
      <a href="/">
        <i class="header-bar__page-icon fa fa-fw fa-globe"></i>
        {% trans "Projects" %}
      </a>
    </li>
    
    <li class="top-level-menu__item {% if 'settings' in request.path %} is-active {% endif %}">
      <a href="/{{ user.username }}/settings">
        <i class="header-bar__page-icon fa fa-fw fa-cog"></i>
        {% trans "Settings" %}
      </a>
    </li>

    <li class="top-level-menu__item">
      <a href="{% url "auth_logout" %}">
        <i class="header-bar__page-icon  fa  fa-fw  fa-sign-out"></i>
        {% trans "Sign out" %}
      </a>
    </li>

  </ul>
</section>
{% endif %}

<div class="navbar navbar-fixed-top hidden" data-dropdown="dropdown" >
  <div class="navbar-inner{% if form_view %} navbar-inner-map{% endif %}">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/" title="KoBoCAT"><img alt="KoBoCAT"
          src="{{STATIC_URL}}images/kobocat_logo.png" style="height: 34px" /></a>
      <div class="nav-collapse collapse">
          {% if form_view %}
          <ul class="nav">
            <li>&nbsp;</li>
            <li>
                <img src='{{ profile.gravatar }}' alt='gravatar' width='30' height='30' />
                &nbsp;
                &nbsp;
            </li>
            <li>&nbsp;&nbsp;</li>
            <li class="lead">
              <a href="{% url "onadata.apps.main.views.profile" content_user.username %}">{{ content_user.username }}</a>
            </li>
            <li class="lead">
              <a href="#">/</a>
            </li>
            <li class="lead">
              <a href="{% url "onadata.apps.main.views.show" content_user.username xform.id_string %}">{{ xform.title }}</a>
            </li>
            <li><a href="#"><span id="submission_count" class="inverted" title="{% blocktrans with nb_sub=xform.submission_count %} <%= geocoded_submission_count %> submissions with geo data out of {{ nb_sub}} total.{% endblocktrans %}">{% blocktrans with nb_sub=xform.submission_count %}{{ nb_sub}} submissions{% endblocktrans %}</span></a></li>
            <li class="lead"><button class="refresh-map btn btn-small"><i class="icon icon-refresh"></i> Refresh Map Data</button></li>
          </ul>
          {% else %}
          <ul class="nav">
            {% if koboform_url %}
            <li class="navbutton"><a href="{{ koboform_url }}">{% trans "Forms" %}</a></li>
            {% endif %}
            {% if user.is_superuser or user.is_staff %}
            <li class="navbutton navbutton--admin"><a href="{% url "onadata.apps.main.views.members_list" %}">{% trans "People" %}</a></li>
            {% endif %}
          </ul>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
            <!-- <li><a id="new-form" href="#" rel="tooltip" title="{% trans "New Form" %}"><img src="{{ STATIC_URL }}images/upload-icon.png"></a></li> -->
            <li><a href="/{{user.username}}">{{user.username}}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url "onadata.apps.main.views.public_profile" user.username %}"><i class="icon-user"></i> {% trans "Public profile" %}</a></li>
                <li><a href="{% url "onadata.apps.main.views.profile_settings" user.username %}"><i class="icon-cog"></i> {% trans "Settings" %}</a></li>
                <li><a href="{% url "onadata.apps.main.views.activity" user.username %}"><i class="icon-eye-open"></i> {% trans "Account Activity" %}</a></li>
                <li><a href="{% url "onadata.apps.main.views.api_token" user.username %}"><i class="icon-cog"></i> {% trans "API Token" %}</a></li>
                <!--<li><a href="{% url "auth_password_change" %}">Change password</a></li>-->
            <li class="divider"></li>
                <li><a href="{% url "auth_logout" %}"><i class="icon-signout"></i> {% trans "Sign out" %}</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url "auth_login" %}">{% trans "Sign in" %}</a></li>
            {% endif %}
          </ul>
          {% endif %}
      </div>
    </div>
  </div>
</div>
